@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  max-width: 1254px;
  margin-left: auto;
  margin-right: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 5;
}
.nav-holder {
  position: relative;
}
.nav-logo {
  display: inline-block;
  width: auto;
  max-height: 41px;
  padding: 0 30px 0 36px;
  position: absolute;
  top: 20px;
}
nav,
.navbar,
.navbar__item-holder,
.nav-right-item,
.comper-holder,
.comper-holder > p,
.wishlist,
.nav-btn {
  display: inline-block;
}
.navbar {
  margin-left: 248px;
  border-left: 2px solid #efefef;
}
.navbar > :first-child {
  margin-left: 10px;
}
.navbar__item-holder {
  padding: 33px 24px;
}
.navbar__item-holder__item > span {
  padding-left: 10px;
}

.navbar__item-holder__item,
.comper-holder {
  font-weight: 500;
  font-size: 14px;
  color: #4b4d4f;
}
.navbar__item-holder__item:hover {
  color: #2a41e8;
}
.nav-right-item {
  position: absolute;
  right: 0;
  top: 0px;
}
.comper-holder {
  position: relative;
  padding: 37px 66px 32px 0;
  border-right: 2px solid #efefef;
}
.comper-holder > p {
  padding-right: 9px;
}
.comper-holder > img {
  position: absolute;
  top: 30px;
}
.wishlist {
  padding: 0 40px 0 34px;
  font-size: 14px;
  color: #262626;
}
.nav-btn {
  padding: 35px 30px 31px 31px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #ff5e14;
  color: #ffffff;
}
/*=========== hero section========== */
.hero-1 {
  background-image: url(img/hero-bg-image.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.hero1__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.hero1 {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
}
.hero1__input-holder,
.hero1__input-holder,
.hero1__seaechbar {
  display: inline-block;
}
.hero1__title {
  font-size: 42px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 12px;
}
.hero1__sub-title {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 53px;
}
.hero1__input {
  background-color: #ffffff;
  padding: 29px;
  border-radius: 4px;
  font-size: 0;
  position: relative;
}
.hero1__input-holder {
  background-color: #ececec;
  border-radius: 4px;
  padding: 9px 16px 10px 16px;
  margin-right: 30px;
}
.hero1__input-field {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b;
}
.hero1__droupdown {
  font-size: 16px;
  font-weight: 500;
  color: #232628;
}
.hero1__droupdown--btn-1 {
  margin-left: 142px;
}
.hero1__droupdown--btn-2 {
  margin-left: 41px;
}
.hero1__seaechbar {
  width: 456px;
  text-align: center;
  background-color: #ececec;
  border-radius: 4px;
  padding: 19px 58px 19px 22px;
  margin-right: 30px;
  position: absolute;
}
.hero1__seaechbar > input {
  width: 100%;
  background-color: #ececec;
  font-size: 18px;
  font-weight: 500;
  color: #646464;
  border: 0;
  outline: 0;
}
.hero1__input--btn {
  padding: 19px 28px 19px 29px;
  position: absolute;
  right: 29px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #2a41e8;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
main {
  background-color: #fafafa;
}
.card-holder__sub-title {
  padding-top: 120px;
  font-size: 14px;
  font-weight: 500;
  color: #8c8c8c;
  letter-spacing: 2px;
  text-align: center;
}
.card-holder__title {
  padding-top: 13px;
  text-align: center;
  font-size: 56px;
  color: #111111;
  font-weight: bold;
  margin-bottom: 89px;
}
.card-holder__title > span {
  font-weight: lighter;
}
.card__picture--badge {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 10px 8px 11px;
  position: absolute;
  top: 24px;
}
.card__picture--badge1 {
  background-color: #2a42e8;
  left: 25px;
}
.card__picture--badge2 {
  background-color: #ff5e15;
  left: 91px;
}
.card__picture--badge3 {
  background-color: #2a42e8;
  right: 25px;
}
.card__picture--price {
  font-size: 15px;
  font-weight: 500;
  color: #2a42e8;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 6px 16px;
  border: 0;
  position: absolute;
  bottom: 27px;
  left: 26px;
}
.card__picture-icon {
  font-size: 14px;
  color: #ffffff;
  background-color: #000000;
  border: 0;
  border-radius: 4px;
  padding: 7px 10px;
  position: absolute;
  bottom: 27px;
}
.card__picture-icon-wishlist {
  right: 63px;
}
.card__picture-icon-exchange {
  right: 25px;
}
.card {
  border-radius: 4px;
  background-color: #ffffff;
}
.card-holder > :nth-child(n + 4) {
  margin-top: 31px;
}
.card-padding {
  margin: 0 26px;
}
.card,
.card__picture {
  display: inline-block;
}
.card__picture {
  width: auto;
  max-height: 279px;
  position: relative;
}
.card__content {
  padding: 20px 26px 21px 26px;
}
.card__location {
  display: block;
  font-size: 14px;
  color: #848484;
}
.card__location > span {
  color: #ff5406;
  padding-right: 10px;
}
.card__heading {
  margin-top: 20px;
  width: 313px;
  font-size: 20px;
  line-height: 1.6;
  color: #1d1d1d;
}
.card__row1 {
  margin-top: 23px;
}
.card__row1-left,
.card__row1-right,
.card__row2-left,
.card__row2-right {
  display: inline-block;
}
.card__row1-link {
  position: relative;
}
.card__row1-link > picture {
  width: auto;
  max-height: 16px;
  position: absolute;
  top: 3px;
}
.card__row1-link > span {
  font-size: 14px;
  color: #2a41e8;
  padding-left: 26px;
}
.card__row1-right {
  font-size: 14px;
  float: right;
  color: #848484;
}
.card__row1-right > span {
  padding-right: 5px;
}
.card__row2 {
  margin-top: 39px;
}
.card__row2-left > p {
  display: inline-block;
  padding-left: 6px;
}
.card__row2-right {
  float: right;
}
.card__row2-right > :nth-child(2) {
  padding: 0 22px;
}
.card__row2-right > picture > span {
  padding-left: 7px;
}
.card__holder-btn {
  font-size: 18px;
  font-weight: 500;
  margin: 68px auto 0 auto;
  display: block;
  text-align: center;
  width: 286px;
  padding: 18px 0;
  background-color: #000000;
  border-radius: 30px;
  color: #ffffff;
}
/* ********************************** */
.card2__picture {
  /* display: inline-block; */
  width: auto;
  max-height: 598px;
  float: left;
}
.card2-content {
  display: inline-block;
  width: 626px;
  background-color: #292929;
  text-align: center;
}
.card2__head {
  font-size: 18px;
  color: #9b9b9b;
  margin-top: 59px;
}
.card2__title {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 37px;
}
.card2__sub-title {
  font-size: 18px;
  color: #9b9b9b;
}
.card2__sub-title > span {
  margin-top: 40px;
  padding-right: 4px;
}
.card2__btn {
  display: block;
  margin: 51px auto 0 auto;
  font-size: 16px;
  padding: 11px 27px;
  color: #ffffff;
  background-color: #ff5e15;
  border-radius: 4px;
  border: 0;
}
.card2__play-btn {
  margin-top: 60px;
  display: block;
  background: none;
  color: #9b9b9b;
  border: 2px solid #9b9b9b;
  border-radius: 50px;
  padding: 20px 19px 20px 24px;
  font-size: 20px;
}
.card2__icon-holder {
  margin: 60px 0;
}
.card2__icon {
  margin: 0 20px;
  display: inline-block;
}
.card2__icon-text {
  display: inline-block;
}
.card2__icon-text > p {
  font-size: 16px;
  color: #9b9b9b;
  padding-left: 11px;
}
.card2__icon-text > p:first-child {
  font-weight: 600;
}
/* ***************************************** */
.card3 {
  display: inline-block;
  max-height: 360px;
  width: auto;
  position: relative;
  border-radius: 4px;
}
.card3-info {
  position: absolute;
  bottom: 18px;
  left: 55px;
}
.card3-info__title {
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 3px;
  padding-bottom: 2px;
}
.card3-info__sub-title {
  font-size: 18px;
  color: #ffffff;
}
.card3-info__sub-title > span {
  padding-right: 8px;
  font-size: 18px;
}
.card3-holder {
  font-size: 0;
  padding-bottom: 120px;
}
.card3-holder > :nth-child(n + 3) {
  padding-top: 28px;
}
.card3-holder > :first-child {
  padding-right: 28px;
}
.card3-holder > :last-child {
  padding-left: 28px;
}
/* ************************************ */
.card4-section {
  background-color: #f3f3f3;
}
.card4 {
  display: inline-block;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 4px;
}
.card4__picture {
  width: auto;
  max-height: 254px;
}
.card4__desc {
  font-size: 18px;
  color: #999999;
  margin-top: 28px;
}
.card4__title {
  font-size: 36px;
  color: #111111;
  margin-top: 15px;
}
.card4__num,
.card4__mail {
  display: block;
  font-size: 18px;
  color: #636363;
}
.card4__num {
  padding: 29px 0 7px 0;
}
